* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }




        body {
            background-color: #f5f5f5;
            color: #333;
        }

        header {
            background-color: #E9D0EE;
            padding: 5px;
            text-align: right;
            color: white;
        }

        header h1 {
            font-size: 18px;
        }

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 10px;
            height: 50px;
            box-sizing: border-box;
            background-color: #E9D0EE;
        }


        header .logo {
            display: block;
            height: 40px;
            width: auto;
            object-fit: contain;
        }


        header nav a {
            color: rgb(122, 0, 126);
            text-decoration: none;
            margin-left: 15px;
            font-weight: bold;
            transition: color 0.3s;
        }

        header nav a:hover {
            color: #9700bd;
        }


        nav {
            display: flex;
            justify-content: right;
            gap: 20px;
            margin-top: 10px;
        }

        nav a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background 0.3s;
        }

        nav a:hover {
            background-color: rgba(155, 0, 142, 0.534);
        }

        main {
            background-color: #E6BAEF;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 40px 20px;
            min-height: 80vh;
            text-align: left;
        }


        main h2 {
            font-size: 65px;
            margin-bottom: 20px;
        }

        main p {
            font-size: 18px;
            margin-bottom: 30px;
            max-width: 600px;
        }

        main button {
            background-color: #dd90ec;
            color: white;
            border: none;
            padding: 12px 25px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s;
        }

        main button:hover {
            background-color: #E9ACF5;
        }

        footer {
            background-color: #ca49e4;
            color: white;
            text-align: center;
            padding: 20px 0;
        }

        .galeria {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            justify-items: center;
        }

        .galeria img {
            width: 180px;
            height: 250px;
            object-fit: cover;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s;
        }


        .galeria img:hover {
            transform: scale(1.05);
        }

        .emAlta {
            margin: 40px auto;
            text-align: center;
            max-width: 1200px;
        }

        .emAlta h1 {
            color: #4b005a;
            margin-bottom: 25px;
            font-size: 40px;
        }

        .livros-container {
            display: flex;
            justify-content: center;
            gap: 50px;
            align-items: center;
        }

        .emAlta .galeria {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 10px;
            justify-items: start;
        }

        .livros-container {
            display: flex;
            gap: 150px;
            align-items: center;
        }

        .post {
            margin: 40px auto;
            text-align: center;
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            width: 100%;
            max-width: 600px;
            margin-bottom: 30px;
        }

        .post label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        .post input {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 8px;
            margin-bottom: 15px;
        }

        .post button {
            background-color: #dd90ec;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s;
        }

        .post button:hover {
            background-color: #E9ACF5;

        }

        .search-bar {
            display: flex;
            justify-content: center;
            /* centraliza na tela */
            margin: 20px 0;
        }

        .search-bar input {
            padding: 10px;
            width: 500px;
            height: 39px;
            border: 1px solid #ccc;
            border-radius: 5px 0 0 5px;
            outline: none;
        }

        .search-bar button {
            padding: -15px 15px;
            border: 1px solid
        }
