<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Nova Lista de Leitura</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/criar_lista_nova.css}">
</head>

<body>
    <header>
            </header>

    <main>
        <h1>Criar Nova Lista de Leitura</h1>

                <form class="formulario-lista" th:action="@{/listas/nova}" method="POST">
            
            <div class="form-group">
                <label for="nome-lista">Nome da Lista</label>
                <input type="text" id="nome-lista" placeholder="Ex: Livros de Fantasia para o Inverno" required>
            </div>

            <div class="form-group">
                <label for="descricao-lista">Descrição (Opcional)</label>
                <textarea id="descricao-lista" placeholder="Fale um pouco sobre o tema ou propósito desta lista."></textarea>
            </div>

            <div class="opcoes-lista">
                <label>Visibilidade:</label><br>
                <label>
                    <input type="radio" name="visibilidade" value="publica" checked> 
                    Pública (Qualquer um pode ver)
                </label>
                <label>
                    <input type="radio" name="visibilidade" value="privada"> 
                    Privada (Apenas você pode ver)
                </label>
            </div>
            
                        <button type="submit" class="btn-criar">Criar Lista</button>
            
            <a th:href="@{usuarios/perfil}" class="btn-voltar">Voltar para o Perfil</a>
            
            <div style="clear: both;"></div>
        </form>
    </main>
</body>
</html>