<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>

    <link rel="stylesheet" th:href="@{/css/opcoesPerfil.css}">
    
</head>

<body>

    <div class="overlay"></div>

    <div class="perfil-menu">
        <a href="home.html" class="voltar"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                                viewBox="0 -960 960 960" width="24px" fill="#1f1f1f">
                <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
            </svg></a>
        <a th:href="@{/perfil}">Ver Perfil</a>
        <a th:href="@{/logout}"Logout</a>
    </div>

</body>

</html>
