<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capítulo Publicado</title>
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/publicarCap.css}">
</head>

<body>
    <header>
                <img th:src="@{/img/logoMenor.png}" alt="Logo" class="logo">
    </header>

    <main>
        <div class="confirmacao-box">
            <h1>Capítulo Publicado! 🎉</h1>
                        <p th:text="'&quot;' + ${capitulo.titulo} + '&quot; já está disponível para todos os seus leitores.'">"O Início da Profecia" já está disponível para todos os seus leitores.</p>
            <div class="acoes-publicacao">
                                <a th:href="@{/leitura/{id}(id=${capitulo.id})}" class="btn-principal">Ver Capítulo</a>
                <p></p>
                                <a th:href="@{/detalhes/{id}(id=${capitulo.historiaId})}" class="btn-secundario">Gerenciar História</a>
            </div>
        </div>
    </main>
</body>

</html>