<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" th:href="@{/placeholder.css}">
</head>
<body>
<div class="register-container">
    <h2 class="text-center mb-4">Cadastro</h2>
    <form method="POST" action="#" th:action="@{/cadastroUsuario}">
        <div class="form-group">
            <label for="username">Nome de Usuário:</label>
            <input type="text" name="nome" class="form-control" id="username" placeholder="Digite seu nome de usuário">
        </div>
        <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Digite seu e-mail">
        </div>
        <div class="form-group">
            <label for="password">Senha:</label>
            <input type="password" name="senha" class="form-control" id="password" placeholder="Digite sua senha">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirme sua Senha:</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirme sua senha">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Cadastrar</button><br>
        <a href="/login">Voltar</a>
    </form>
</div>

<!-- Scripts do Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
